


<!-- This is the modal with the default close button -->
<div id="modal-close-default" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">

    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">Recipe Note</h2>
{{!-- this is the form we will see when we want to display a note --}}
        <div class="note-wrap" data-nid="" data-rid="">
            <form class="note-form">
                <input class="uk-input uk-form-width-large" type="text" placeholder="Note Title" id="title">
        
                <div class="uk-margin">
                <input class="uk-input uk-form-width-large" type="text" placeholder="Note Body" id="body">
                </div>
            </form>
        </br>
        <button class="uk-button uk-button-default save-note">Save</button>
        <button class="uk-button uk-button-default cancel-note">Cancel</button>
        </div>
     </div>
</div>



{{>header home=false saved=true}}


<div class="uk-container">
    <div class="uk-flex uk-flex-column uk-width-1-2" uk-grid
        uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-card; delay: 200; repeat: false">

        {{#each recipes}}
        {{#if saved}}
        {{!-- it will render --}}
        <div class="uk-card uk-card-default uk-card-body uk-margin-top recipe-wrap" data-rid="{{this._id}}">
            <img src="{{this.image}}" class="uk-align-center">
     
            <p>{{this.title}}</p>
            <a class="uk-button uk-button-default" href="{{this.link}}">Recipe Link</a>
            {{!-- now theres a unsave button --}}
            <button class="uk-button uk-button-default unsave-btn" data-rid="{{this._id}}">Unsave</button>
            {{#unless note}}
            <button class="uk-button uk-button-default uk-margin-small-right add-btn" data-rid="{{this._id}}"
                type="button" uk-toggle="target: #modal-close-default">Add a note</button>
            {{else}}
            {{!-- needs functionality: update and delete --}}
            <div class="uk-card uk-card-default uk-card-body uk-margin-top recipe-wrap">
            <div class="note-wrap" data-nid="{{this.note._id}}" data-rid={{this._id}}>
                <h1><i>Your Notes</i></h1>
                <p class="note-title">{{this.note.title}}</p>
                <p class="note-body">{{this.note.body}}</p>
                <button class="uk-button uk-button-default delete-btn">Delete</button>
            </div>
            </div>
            {{/unless}}
        </div>

        {{/if}}
        {{/each}}
    </div>


    {{!-- if there are no articles to be rendered --}}
    {{#unless recipes}}
    <h3>No saved recipes to display yet!</h3>
    <a href="/" class="uk-button uk-button-default">Go Scrape</a>
    {{/unless}}


<script>
// jquery for unsave recipe button 
$(".unsave-btn").on("click", function () {
    var recipeId = $(this).data("rid");

    //update article state from being unsaved to saved 
    var updateRecipe = {
        saved: false
    }
    //to make sure we can grab the id, comment out ajax call and console log id 
    console.log(recipeId);
    console.log(updateRecipe);

    //losing scope = put this outside in global and call again in parentE
    var self = $(this);
    // communicate with server to update article
    $.ajax({
        url: '/recipe/' + recipeId,
        type: 'PUT',
        data: updateRecipe,
        success: function (result) {
            //do something with result
            //check if result comes back as updated
            //remove item from dom 
            var parentElm = self.parent(".recipe-wrap");
            console.log(parentElm);
            parentElm.remove();
        }
    })
})

//add note
$(".add-btn").on("click", function () {
    var recipeId = $(this).data("rid");
    $(".note-wrap").attr("data-rid", recipeId);
    console.log(recipeId);
    //currntly form belongs to this article. 

});
//jquery for save button

function clearForm() {
    $("#title, #body").val("");
    $(".note-wrap").attr("data-rid", "");
}

//save a note
$(".save-note").on("click", function (e) {
    $(".note-form")[0].reportValidity();
    //makes sure body and title are submitted
    e.preventDefault();

    var recipeId = $(this).parents(".note-wrap").data("rid");
    console.log(recipeId);

    var note = {
        title: $("#title").val().trim(),
        body: $("#body").val().trim()
    }
    $.post("/recipe/" + recipeId + "/note", note, function (response) {
        console.log(response);
        clearForm();
    })
    $("#modal-close-default").hide();
    location.reload(true);
})

//delete button
$(".delete-btn").on("click", function () {
    var noteId = $(this).parents(".note-wrap").data("nid");
    var articleId=$(this).parents(".note-wrap").data("rid");

    console.log("hello");
    console.log(noteId);
    console.log("----article---");
    console.log(articleId);
    console.log("end");
    //currntly form belongs to this article. 
    var self = $(this);
// communicate with server to update article 
    $.ajax({
        url: '/recipe/'+noteId+'/note', 
        type: 'DELETE', 
        data: noteId,
        success: function(result){
            //do something with result
            //check if result comes back as updated
            //remove item from dom 
            var parentElm = self.parent(".recipe-wrap");
            parentElm.remove();
        }
    })
location.reload(true);

})
</script>